body {
    display: block;
    background-image: url(images/1418014192_fon-serenevyy-svet-fioletovyy223\ 1.png);
}

* {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 7%;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.logo {
    height: 30px;
    width: 30px;
    max-height: 50px;
    max-width: 50px;
    margin-left: 20px;
    margin-right: 200px;
}

.search {
    display: flex;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}

.search-btn {
    max-height: 30px;
    max-width: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.search-input {
    left: 40%;
    background: none;
    border: none;
    outline: none;
    height: 40px;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
}

.search-input textarea {
    height: 18.5px;
}

.search-input::-moz-placeholder {
    color: #FFFFFF;
}

.search-input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.right-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 170px;
    margin-right: 20px;
}

.settings {
    background: none;
    max-height: 30px;
    max-width: 30px;
    border: none;
    /* margin-left: 10px; */
}

.time {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
}

.calendar {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
